<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<property name="appName" value="ocpawssecret" />	

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="co.elastic.logging.logback.EcsEncoder">
			<serviceName>${appName}</serviceName>
			<includeMarkers>true</includeMarkers>
		</encoder>
	</appender>	
	
	<root level="INFO">
      <appender-ref ref="CONSOLE" />	
	</root>
</configuration>
